*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-holder{
    position: fixed;
    width: 100%;
}
.banner{
    height: 100vh;
    width: 100%;
}
.landing-signup-button-holder{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
}
.landing-signup-button-holder p{
    font-size: 8vw;
    padding: 30px 20px;
    color: whitesmoke;
}
.button__container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
    height: 5vh;
}
.landing-signup-button:hover{
    background-image: linear-gradient(45deg,#ff7854,#fd267a);
}