li, a, button{
    font-weight: 500;
    font-size: 1vw;
    text-decoration: none;
    color: #edf0f1;
}
.Navbar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 5%;
    background-color: transparent;
}
.logo{
    cursor: pointer;
    font-size: 36px;
    border-radius: 26px 0px 26px 0px;
    border: none;
    background-image: linear-gradient(45deg,#fd267a,#ff7854);
    padding: 9px 25px;
    display: flex;
}
.logo img{
    margin: auto;
    width: 2vw;
    height: 2vw;
}
.logo p {
    padding-left: 10px;
    font-size: 2vw;
    color: white;
}
.navigator{
    margin-left: 40px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 0px 30px;
}
ul li a{
    font-size: 20px;
}
.login{
    margin-left: auto;
}
.login button{
    padding: 9px 25px;
    background-image: linear-gradient(45deg,#fd267a,#ff7854);
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}
