.signup__container{
    padding: 10em 10em 8em 10em;
}
.signup__form{
    display: flex;
}
.form__container{
    flex: 50%;
    padding: 20px 30px;
}
.form__content{
}
.form__field-name{
    color: rgba(0, 0, 0, 0.5);
}
.signup__button{
    display: flex;
    top: 3vh;
    align-items: center;
    justify-content: center;
}