@import '../../../../../../utils/font';

.delete__container{
    width: 300px;
    text-align: center;

    h2{
        font-family: $BonaNova-bold;
        color: rgba($color: #000000, $alpha: 0.7)
    }
    
    p{
        font-family: $BonaNova;
        color: rgba($color: #FF0000, $alpha: 0.9);
    }
}
.delete__button__container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.delete__button{
    flex: 1;
    margin: 5px;
}