$backgroundTinder1: #ff6036;
$backgroundTinder2: #fd267a;

$textColorLight: black;
$textColorDark: white;

@mixin BackgroundTinder {
    background-image: linear-gradient(225deg, $backgroundTinder1, $backgroundTinder2);
}

