.side-bar__container{
    width: 375px;
    background-color: burlywood;
}
.side-bar__inner-upper{
    height: 73px;
    background: linear-gradient(225deg,#ff6036,#fd267a);
    display: flex;
}
.side-bar__profile-nav{
    background-color: rgba(0, 0, 0, 0.7);
}