.loading{
    position: fixed;
    z-index: 1;
    height: inherit;
    width: inherit;
    opacity: 0.2;
    background-color: black;
}
.loading__image{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 100px;
}